@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@import url("https://fonts.googleapis.com/earlyaccess/alefhebrew.css");
body {
  background: #362D26;
  
  font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  /* color: beige; */
  color: #c9dbdc;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #c9dbdc;
  margin: 0;
  padding: 0;
}

h4 {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #c9dbdc;
  margin: 0;
  padding: 0;
}

.cup-container {
  position:relative;
}
.cup {
  background: #c9dbdc;
    width: 180px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 500;
    border-radius: 5px 5px 45px 45px;
    right: 0;
    margin: 0 auto;
}

.cup:before,
.cup:after {
  content: '';
  position: absolute;
  border-radius: 50% 15% 15% 50%;
  background: inherit;
  z-index: -1;
}

.cup:before {
  width: 5vw;
  height: 5vw;
  top: 4vw;
  left: -3.57142857vw;
}

.cup:after {
  background: #362D26;
  width: 2.56410256vw;
  height: 3.33333333vw;
  top: 4.85714286vw;
  left: -2.77777778vw;
}

.ribbon {
  font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #730707;
    background: red;
    position: absolute;
    top: 57px;
    line-height: 34px;
    text-align: center;
    bottom: 106px;
    left: 7px;
    right: 7px;
    font-size: 19px;
    font-weight: 600;
}

.coffee {
  /* animation-delay: -10s !important; */
  position: absolute;
  top: 20%;
  bottom: 7px;
  left: 7px;
  right: 7px;
  /* -webkit-animation: coffeeGoesUp infinite forwards 55s linear;
  animation: coffeeGoesUp infinite forwards 55s linear; */
  background: rgba(61, 30, 30, 1);
  background: -moz-linear-gradient(top, rgba(61, 30, 30, 1) 0%, rgba(61, 30, 30, 1) 47%, rgba(61, 30, 30, 1) 66%, rgba(31, 0, 0, 1) 82%, rgba(31, 0, 0, 1) 92%, rgba(31, 0, 0, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61, 30, 30, 1)), color-stop(47%, rgba(61, 30, 30, 1)), color-stop(66%, rgba(61, 30, 30, 1)), color-stop(82%, rgba(31, 0, 0, 1)), color-stop(92%, rgba(31, 0, 0, 1)), color-stop(100%, rgba(31, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(61, 30, 30, 1) 0%, rgba(61, 30, 30, 1) 47%, rgba(61, 30, 30, 1) 66%, rgba(31, 0, 0, 1) 82%, rgba(31, 0, 0, 1) 92%, rgba(31, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(61, 30, 30, 1) 0%, rgba(61, 30, 30, 1) 47%, rgba(61, 30, 30, 1) 66%, rgba(31, 0, 0, 1) 82%, rgba(31, 0, 0, 1) 92%, rgba(31, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(61, 30, 30, 1) 0%, rgba(61, 30, 30, 1) 47%, rgba(61, 30, 30, 1) 66%, rgba(31, 0, 0, 1) 82%, rgba(31, 0, 0, 1) 92%, rgba(31, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(61, 30, 30, 1) 0%, rgba(61, 30, 30, 1) 47%, rgba(61, 30, 30, 1) 66%, rgba(31, 0, 0, 1) 82%, rgba(31, 0, 0, 1) 92%, rgba(31, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d1e1e', endColorstr='#1f0000', GradientType=0);
  border-radius: 5px 5px 45px 45px;
}

/* @-webkit-keyframes coffeeGoesUp {
  0% {
    top: 20%;
  }
  80%,
  100% {
    top: 5%;
  }
}

@keyframes coffeeGoesUp {
  0% {
    top: 20%;
  }
  80%,
  100% {
    top: 5%;
  }
} */

@-webkit-keyframes coffeeGoesDown {
  0% {
    top: 100%;
  }
  80%,
  100% {
    top: 5%;
  }
}

@keyframes coffeeGoesDown {
  0% {
    top: 5%;
  }
  80%,
  100% {
    top: 100%;
  }
}

.footer {
  direction: rtl;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #DBD0CA;
  padding: 1rem;
  background-color: #2D2013;
  text-align: center;
}





.circle-image {
  border-radius: 50%;
}

.user-welcome {
  direction: rtl;
  color:white;
}

.user-welcome a {
  color:white;
}


.user-welcome strong {
  color:#F37272;
}